<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
  <meta charset="utf-8"/>
  <title>Przepiśniki | SweetSpot Recipies</title>
</head>
<body>
<div align="center">
  <h1>Lista przepiśników</h1>
  <a href="/book/new">Nowy przepiśnik</a>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>Id</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${listBooks}">
      <td th:text="${book.id}">Id</td>
      <td th:text="${book.name}">Nazwa</td>
      <td>
        <a th:href="@{'/book/edit/' + ${book.id}}">Edytuj</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{'/book/delete/' + ${book.id}}">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
